spring:
    profiles:
        include: db

mysql:
    url: jdbc:mysql://172.20.10.69:3306/zhjg?allowMultiQueries=true&useUnicode=true&characterEncoding=UTF-8&useSSL=false
    username: root
    password: 123456


#logPath: E:/0729/demo_logs
